.grid__wrapper {
  border: 1px solid #6c757d;
  margin-top: 1.25em;
  padding: 10px;
  position: relative;

  .grid__header {
    border-bottom: 0;
  }

  .grid__zoom-wrapper {
    position: relative;
    transform-origin: top center;
    transition: transform 0.3s ease-in-out;
    &.grid--zoomed {
      .grid__items {
        pointer-events: none;
        user-select: none;
      }
    }
  }

  .btn-grab {
    cursor: grab;
    padding: 8px;
  }

  .grid__zoom-controls {
    align-items: center;
    display: flex;
    font-weight: 300;
    gap: 1em;
    justify-content: space-between;
    padding: 0 0 1em;
    p {
      margin: 0;
    }
  }

  .grid__disable-drag {
    pointer-events: none;
    user-select: none;
  }

  .grid__title {
    font-size: 1.2em;
    text-transform: capitalize;
    font-weight: 600;
  }

  .grid__description {
    font-weight: 300;
  }

  .grid__items {
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .grid__row-wrapper {
    position: relative;

    &-handle {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .grid__row {
    border: 1px solid #6c757d;
    margin-bottom: 8px;

    &-inner {
      display: flex;
      gap: 2%;
      justify-content: space-between;
      position: relative;
    }

    &-handle {
      position: relative;
    }

    &-content-left {
      justify-content: start;
    }

    &-content-center {
      justify-content: center;
    }

    &-content-right {
      justify-content: end;
    }
  }

  .grid__row-controls {
    align-items: center;
    display: flex;
    justify-content: end;
    padding: 0.25em;
  }

  .grid__item {
    flex-basis: 32%;

    &-active {
      border: 1px dashed #6c757d;
    }

    &-content {
      position: relative;
    }

    &-handle {
      cursor: grab;
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    &-image {
      width: 100%;
    }

    &-description {
      background-color: #ffffff;
      padding: 0 0.25em;
    }

    &-title {
      font-size: 0.75em;
      padding-top: 0.25em;
      margin: 0;
    }

    &-price {
      font-size: 0.75em;
      margin-bottom: 0.5em;
    }
  }
}
